@import url(reusable.css);

h1 {
    text-align: center;
}

.nav-options li i {
    text-align: center;
    margin: 0 20px 0 20px;
}

.abt p {
    text-align: center;
    margin: 0 20px 0 20px;
}

footer p {
    text-wrap: nowrap;
}

.contacts h2 {
    text-align: center;
}

.contacts ul li {
    list-style-type: none;
}

.contacts li i {
    margin-right: 20px;
}

.contacts ul li a {
    display: flex;
    align-items: center;

}