:root {
    /* primary colors*/
    --primary-100: #EBF2FF;
    --primary-200: #D1E3FF;
    --primary-300: #9EC3FF;
    --primary-400: #6BA4FF;
    --primary-500: #3884FF;
    --primary-600: #2D6ACC;
    --primary-700: #224F99;
    --primary-800: #163566;
    --primary-900: #0B1A33;

    /* Secondary colors*/
    --secondary-100: #FFF4D6;
    --secondary-200: #FFE7A3;
    --secondary-300: #FFD970;
    --secondary-400: #FFCC3D;
    --secondary-500: #FFBE0A;
    --secondary-600: #CC9808;
    --secondary-700: #997206;
    --secondary-800: #664C04;
    --secondary-900: #664C04;

    /* Neutrals*/
    --black: #1D1E18;
    --white: #F7FFF7;
    --gray: #C0BFA0;
}

body {
    background-image: linear-gradient(45deg, var(--black), var(--primary-800));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'inter', 'sans-serif';
    padding-left: 100px;
    padding-right: 100px;
}

nav {
    width: 1244.12px;
    height: 160px;
    padding-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav .logo{
    width: 848px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .logo img {
    height: 80px;
    width: 80px;
    padding-right: 20px;
    
}

nav .logo h1{
    font-family: 'Monoton', 'sans-serif';
    color: var(--white);
    font-size: 44px;
    font-weight: 100;
}

nav ul {
    display: flex;
    align-items: center;
    width: 955px;
}

nav ul li {
    list-style: none;
}

nav ul li i {
    color: var(--gray);
    font-size: 20px;
    opacity: 75%;
    margin-right: 34px;
    margin-left: 34px;
}

nav ul li a {
    color: var(--white);
    font-size: 20px;
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--secondary-500);
    transition: ease-in-out, 0.5s;
    cursor: pointer;
}

nav .nav-links {
    height: 39px;
    padding-top: 40px;
    width: 1244.12px;
    height: 39px;
    display: flex;
    
}

nav .nav-links .about-btn {
    background-color: var(--primary-300);
    color: var(--primary-900);
    font-size: 30px;
    height: 39px;
    width: 228.74px;
    text-align: center;
    border-radius: 50px;
    outline-color: var(--primary-900);
    outline-style: solid;
    outline-width: 2px;
    
}

nav .nav-links .about-btn:hover {
    background-color: var(--secondary-300);
    outline-color: var(--secondary-900);
    transition: ease-in, 0.5s;
    transform: scale(1.1);
}

.divider {
    background-image: linear-gradient(45deg, var(--primary-500), var(--secondary-500));
    border-radius: 50px;
    height: 4px;
    width: 1030px;
}

.divider {
    background-image: linear-gradient(45deg, var(--primary-500), var(--secondary-500));
    border-radius: 50px;
    height: 4px;
    width: 1030px;
}