@import url(reusable.css);

.y {
    color: var(--secondary-300);
    
}

.b {
    color: var(--primary-300);
    text-wrap: none;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero img {
    width: var(--hero-img);
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.game {
    display: flex;
}

.game .b {
    margin-left: 20px;
}

.hero-text h1 {
    margin: 0;
    font-size: var(--hero-h1)
}

.hero-text button {
    font-weight: 600;
    border: none;
    background-color: var(--secondary-500);
    border-radius: 5px;
    color: var(--secondary-900);
    font-size: var(--hero-btn);
}

.hero-text button:hover {
    scale: 1.2;
    background-color: var(--primary-500);
    color: var(--primary-900);
    transition: ease-in 0.2s;
}

@media (min-width: 800px) {
    .hero {
        flex-direction: row;
        align-items: flex-start;
        margin-top: 20px;
    }

    .hero img {
        margin-left: auto;
    }

    .hero-text {
        text-align: left;
        align-items: flex-start;
        margin-top: 50px;
    }
}

/* slider styling */
.game-slider {
    height: fit-content;
    margin: 0 20px 0 20px;
}

.game-slider h1 {
    text-align: center;
}

.slider {
    min-height: 200px;
    max-height: 700px;
    aspect-ratio: 1 / 1;
}

.card-wrapper {
    display: flex;
    flex-grow: 1;
    width: fit-content;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--primary-500);
    font-size: 30px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: var(--secondary-500);
    transition: ease-in 0.2s;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
}

.card img {
    height: clamp(6.25rem, -7.8125rem + 62.5vw, 31.25rem);
}

/* Price list styling */
.price-list h1 {
    text-align: center;
}

.table {
    width: 100%;
}

th {
    padding-left: 10px;
    padding-bottom: 10px;
}

th, td {
    background-color: linear-gradient(to right, var(--primary-900), var(--primary-300));
    text-align: left;
}