@import url(./reusable.css);

/* hero styling */
.y {
    color: var(--secondary-300);
    
}

.b {
    color: var(--primary-300);
    text-wrap: none;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero img {
    width: clamp(22.5rem, 17.54296875rem + 22.031250000000004vw, 31.3125rem);
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-text h1 {
    margin: 0;
    font-size: clamp(2rem, 1.015625rem + 4.375vw, 3.75rem);
}

.hero-text button {
    font-weight: 600;
    border: none;
    background-color: var(--secondary-500);
    border-radius: 5px;
    color: var(--secondary-900);
    font-size: clamp(1.25rem, 0.546875rem + 3.125vw, 2.5rem);
}

.hero-text button:hover {
    scale: 1.2;
    background-color: var(--primary-500);
    color: var(--primary-900);
    transition: ease-in 0.2s;
}

@media (min-width: 800px) {
    .hero {
        flex-direction: row;
        align-items: flex-start;
        margin-top: 20px;
    }

    .hero img {
        margin-left: auto;
    }

    .hero-text {
        text-align: left;
        align-items: flex-start;
        margin-top: 50px;
    }
}

/* store cards*/
.stores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.stores h1 {
    text-align: center;
}

.card {
    background-color: var(--light);
    color: var(--dark);
    max-width: 387px;
    min-width: 100px;
    aspect-ratio: 1 / 1;
    margin: 40px;
    border-radius: 10px;
    padding: 4px 20px;
}

.card:hover {
    border: solid 4px var(--primary-500);
    transition: ease-in 0.2s;
}

.stores .card-container {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px; 
}

.card div {
    background-color: var(--primary-500);
    max-width: 500px;
    min-width: 100px;
    aspect-ratio: 16 / 9;
    border-radius: 20px;
}


.card h3 {
    text-align: center;
}

.card p {
    font-weight: 600;
}

.card i {
    color: var(--dark);
    font-size: 40px;
    rotate: -45deg;
}

@media (min-width: 800px) {
    .card-container {
        grid-template-columns: 387px 387px;
    }
}

/* Location styling */
.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.location .map {
    width: 80%;
    aspect-ratio: 16 / 9;
}